{% extends 'core/index.html' %}
{% load static %}


{% block content %}
<div id="product-product" class="container">
    <div class="row">
        <div id="content" class="col-sm-12 productpage">
            <div class="row">
                <!-- Левая колонка с изображением -->
                <div class="col-sm-4 product-left">
                    <div class="product-info">
                        <div class="left product-image thumbnails">
                            <div class="image">
                                <a class="thumbnail"
                                    href="{% if product.main_image %}{{ product.main_image.image.url }}{% else %}{% static 'image/cache/catalog/placeholder-1000x1000.jpg' %}{% endif %}">
                                    <img id="tmzoom"
                                        src="{% if product.main_image %}{{ product.main_image.image.url }}{% else %}{% static 'image/cache/catalog/placeholder-1000x1000.jpg' %}{% endif %}"
                                        data-zoom-image="{% if product.main_image %}{{ product.main_image.image.url }}{% else %}{% static 'image/cache/catalog/placeholder-1000x1000.jpg' %}{% endif %}"
                                        title="{{ product.name }}" alt="{{ product.name }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Правая колонка с деталями товара -->
                <div class="col-sm-5 product-right">
                    <div class="product-detail-left">
                        <h3 class="product-title">{{ product.name }}</h3>

                        <!-- Характеристики товара -->
                        <div class="description">
                            <table class="product-description">
                                <tbody>
                                    {% if product.sku %}
                                    <tr>
                                        <td><span class="desc">Артикул:</span></td>
                                        <td class="description-right">{{ product.sku }}</td>
                                    </tr>
                                    {% endif %}

                                    {% if product.material %}
                                    <tr>
                                        <td><span class="desc">Материал:</span></td>
                                        <td class="description-right">{{ product.material }}</td>
                                    </tr>
                                    {% endif %}

                                    {% if product.dimensions %}
                                    <tr>
                                        <td><span class="desc">Размеры:</span></td>
                                        <td class="description-right">{{ product.dimensions }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>

                            <!-- Наличие -->
                            <span class="stock_msg"
                                style="color: {% if product.quantity > 0 %}#228B22{% else %}#dc3545{% endif %};">
                                {% if product.quantity > 0 and product.is_in_stock %}
                                В наличии: {{ product.quantity }} шт.
                                {% else %}
                                Нет в наличии
                                {% endif %}
                            </span>
                        </div>

                        <!-- Цена -->
                        <ul class="list-unstyled">
                            <li>
                                <h4 class="special-price">
                                    {% if product.tax_price and product.tax_price != product.price %}
                                    <span class="old-prices">{{ product.tax_price }} ₽</span>
                                    <span class="new-price">{{ product.price }} ₽</span>
                                    {% else %}
                                    <span class="new-price">{{ product.price }} ₽</span>
                                    {% endif %}
                                </h4>
                            </li>
                            {% if product.tax_price %}
                            <li class="price-tax">Без НДС: <span class="product-tax">{{ product.tax_price }} ₽</span>
                            </li>
                            {% endif %}
                        </ul>

                        <!-- Атрибуты товара (варианты) -->
                        <div id="product">
                            {% if attributes %}
                            {% for attr_name, attr_values in attributes.items %}
                            <div class="form-group required">
                                <label class="control-label">{{ attr_name }}</label>
                                <div id="input-option-{{ forloop.counter }}">
                                    {% for attr_value in attr_values %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="option[{{ attr_name }}]"
                                                value="{{ attr_value.id }}">
                                            {{ attr_value.value }}
                                            {% if attr_value.price_adjustment %}
                                            {% if attr_value.price_adjustment > 0 %}
                                            (+{{ attr_value.price_adjustment }} ₽)
                                            {% elif attr_value.price_adjustment < 0 %} ({{ attr_value.price_adjustment
                                                }} ₽) {% endif %} {% endif %} </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}

                            <!-- Количество и кнопки -->
                            <div class="form-group qty">
                                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 op-box qty-plus-minus">
                                    <button type="button" class="form-control pull-left btn-number btnminus"
                                        disabled="disabled" data-type="minus" data-field="quantity"></button>
                                    <input id="input-quantity" type="text" name="quantity" value="1" size="2"
                                        class="form-control input-number pull-left">
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <button type="button" class="form-control pull-left btn-number btnplus"
                                        data-type="plus" data-field="quantity"></button>
                                </div>

                                <!-- Кнопка "Купить сейчас" -->
                                <button type="button" id="button-cart" data-loading-text="Загрузка..."
                                    class="btn btn-primary btn-lg btn-block quick-buy-btn-custom"
                                    data-product-id="{{ product.id }}" data-product-name="{{ product.name|escapejs }}">
                                    Купить сейчас
                                </button>

                                <!-- Кнопки "В избранное" и "Сравнить" -->
                                <!-- <div class="btn-group prd_page">
                                    <button type="button" class="btn btn-default wishlist" title="В избранное"
                                        onclick="wishlist.add('{{ product.id }}');">
                                        <i class="fa fa-heart"></i> В избранное
                                    </button>
                                    <button type="button" class="btn btn-default compare" title="Сравнить"
                                        onclick="compare.add('{{ product.id }}');">
                                        <i class="fa fa-balance-scale"></i> Сравнить
                                    </button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Описание товара -->
            <div id="tabs_info" class="product-tab col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-description" data-toggle="tab">Описание</a></li>
                    {% if product.characteristics %}
                    <li><a href="#tab-characteristics" data-toggle="tab">Характеристики</a></li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-description">
                        {{ product.description|safe|default:"Описание товара отсутствует." }}
                    </div>

                    {% if product.characteristics %}
                    <div class="tab-pane" id="tab-characteristics">
                        <table class="table table-bordered">
                            {% for key, value in product.characteristics.items %}
                            <tr>
                                <th>{{ key }}</th>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Похожие товары (если есть) -->
            {% if related_products %}
            <div class="box related_prd">
                <div class="container">
                    <div class="row">
                        <div class="box-head">
                            <div class="box-heading">Похожие товары</div>
                        </div>

                        <div class="box-content">
                            <div id="products-related" class="related-products">
                                <div class="customNavigation">
                                    <a class="fa prev fa-arrow-left">&nbsp;</a>
                                    <a class="fa next fa-arrow-right">&nbsp;</a>
                                </div>

                                <div class="box-product product-carousel" id="related-carousel">
                                {% for related in related_products %}
                                <div class="slider-item">
                                    <div class="product-block product-thumb transition">
                                        <div class="product-block-inner">
                                            <div class="image {% if not related.is_in_stock or related.quantity == 0 %}outstock{% endif %}">
                                                <a href="{% url 'product_detail' related.slug %}">
                                                    {% if related.main_image %}
                                                    <img src="{{ related.main_image.image.url }}" title="{{ related.name }}" alt="{{ related.name }}"
                                                        class="img-responsive">
                                                    {% else %}
                                                    <img src="{% static 'image/cache/catalog/placeholder-328x328.jpg' %}" title="{{ related.name }}"
                                                        alt="{{ related.name }}" class="img-responsive">
                                                    {% endif %}
                                                </a>
                                
                                                {% if not related.is_in_stock or related.quantity == 0 %}
                                                <span class="stock_status">Нет в наличии</span>
                                                {% endif %}
                                
                                                <div class="product_hover_block">
                                                    <div class="compare-button offer-btn">
                                                        <button class="compare_button" type="button" title="Сравнить"
                                                            onclick="compare.add('{{ related.id }}');"></button>
                                                    </div>
                                                    <div class="quickview-button offer-btn">
                                                        <a class="quickbox" title="Быстрый просмотр"
                                                            href="{% url 'product_quick_view' related.id %}"></a>
                                                    </div>
                                                    <div class="wishlist-button offer-btn">
                                                        <button class="wishlist" type="button" title="В избранное"
                                                            onclick="wishlist.add('{{ related.id }}');"></button>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="product-details">
                                                <div class="caption">
                                                    <h4>
                                                        <a href="{% url 'product_detail' related.slug %}">
                                                            {{ related.name|truncatechars:40 }}
                                                        </a>
                                                    </h4>
                                
                                                    <p class="price">
                                                        {% if related.tax_price and related.tax_price != related.price %}
                                                        <span class="price-new">{{ related.price }} ₽</span>
                                                        <span class="price-old">{{ related.tax_price }} ₽</span>
                                                        {% else %}
                                                        {{ related.price }} ₽
                                                        {% endif %}
                                                    </p>
                                
                                                    <div class="action">
                                                        {% if related.quantity > 0 and related.is_in_stock %}
                                                        <button type="button" class="btn btn-primary btn-block quick-buy-btn-custom"
                                                            data-product-id="{{ related.id }}" data-product-name="{{ related.name|escapejs }}">
                                                            Купить сейчас
                                                        </button>
                                                        {% else %}
                                                        <button type="button" class="btn btn-secondary btn-block" disabled>
                                                            Нет в наличии
                                                        </button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

<!-- Стили для страницы товара -->
<style>
    .product-title {
        font-size: 24px;
        margin-bottom: 15px;
        color: #333;
    }

    .product-description {
        width: 100%;
        margin-bottom: 15px;
    }

    .product-description td {
        padding: 5px 0;
    }

    .product-description .desc {
        font-weight: 600;
        color: #555;
        padding-right: 15px;
    }

    .stock_msg {
        display: inline-block;
        padding: 5px 10px;
        background: #f8f9fa;
        border-radius: 4px;
        margin: 10px 0;
        font-weight: 500;
    }

    .special-price {
        font-size: 28px;
        color: #e74c3c;
    }

    .old-prices {
        font-size: 18px;
        color: #999;
        text-decoration: line-through;
        margin-right: 10px;
        font-weight: normal;
    }

    .price-tax {
        color: #666;
        font-size: 14px;
    }

    .qty-plus-minus {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .btnminus,
    .btnplus {
        width: 40px;
        height: 40px;
        border: 1px solid #ddd;
        background: #f8f9fa;
        cursor: pointer;
    }

    .btnminus:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    #input-quantity {
        width: 60px;
        height: 40px;
        text-align: center;
        border: 1px solid #ddd;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .btn-group.prd_page {
        display: flex;
        gap: 10px;
        margin-top: 15px;
    }

    .btn-group.prd_page .btn {
        flex: 1;
    }

    .wishlist i,
    .compare i {
        margin-right: 5px;
    }

    .product-tab {
        margin-top: 40px;
    }

    .nav-tabs {
        border-bottom: 2px solid #e9ecef;
        margin-bottom: 20px;
    }

    .nav-tabs>li>a {
        border: none;
        color: #666;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 20px;
    }

    .nav-tabs>li.active>a {
        color: #007bff;
        border-bottom: 2px solid #007bff;
        background: transparent;
    }

    .related_prd {
        margin-top: 40px;
    }

    .box-heading {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid #e9ecef;
    }

    .product-carousel {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .product-carousel .slider-item {
        width: 25%;
        padding: 10px;
        box-sizing: border-box;
    }

    @media (max-width: 767px) {
        .product-carousel .slider-item {
            width: 50%;
        }

        .btn-group.prd_page {
            flex-direction: column;
        }

        .product-title {
            font-size: 20px;
        }

        .special-price {
            font-size: 24px;
        }
    }
</style>
<footer>

    <div class="footer-container">
        <div id="footer" class="bottom-to-top hb-animate-element">
            <div class="container">
                <div class="row">
                    <div class="footer-blocks">
                        <!-- Левая колонка с контактами -->
                        <aside id="footer-left" class="col-sm-4 column footerleft">
                            <div class="contact-block">
                                <h5>Контакты</h5>
                                <ul>
                                    <li class="item address">
                                        <i class="fa fa-map-marker"></i>
                                        <span>Москва, Кожевнический проезд, д. 1<br>бизнес-центр River Place</span>
                                    </li>
                                    <li class="item phone">
                                        <i class="fa fa-phone"></i>
                                        <span class="contact-inner">
                                            <a href="tel:+79175492845">+7 (917) 549-28-45</a>
                                        </span>
                                    </li>
                                    <li class="item email">
                                        <i class="fa fa-envelope-o"></i>
                                        <span>info@nerjarest.ru</span>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <!-- Центральная колонка (пустая для баланса) -->
                        <div class="col-sm-4 column">
                            <!-- Можно добавить меню или оставить пустым -->
                        </div>

                        <!-- Правая колонка с подпиской -->
                        <aside id="footer-right" class="col-sm-4 column footerright">
                            <div class="newsletter">
                                <div class="news-left">
                                    <div class="news-title">Получить последние обновления</div>
                                    <div class="news-des">Вы можете отписаться в любой момент.</div>
                                </div>
                                <div class="news-right">
                                    <form method="post">
                                        <div class="form-group">
                                            <label class="control-label">Введите свой адрес электронной почты</label>
                                            <div class="input-news">
                                                <input type="email" name="txtemail" id="txtemail" value=""
                                                    placeholder="Ваш email" class="form-control input-lg" />
                                                <button type="submit" class="btn btn-default btn-lg"
                                                    onclick="return subscribe();">Подписаться</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Стили для правильного распределения по углам -->
    <style>
        .footer-blocks {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        .footerleft {
            text-align: left;
        }

        .footerright {
            text-align: right;
        }

        .footerright .newsletter {
            text-align: right;
        }

        .footerright .input-news {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }

        .footerright .form-control {
            width: 250px;
        }

        .contact-block ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .contact-block li {
            margin-bottom: 15px;
            display: flex;
            align-items: flex-start;
        }

        .contact-block li i {
            width: 25px;
            font-size: 16px;
            color: #666;
            margin-top: 3px;
        }

        .contact-block li span {
            flex: 1;
            line-height: 1.5;
        }

        .contact-block li a {
            color: #333;
            text-decoration: none;
        }

        .contact-block li a:hover {
            color: #007bff;
        }

        /* Стили для подписки */
        .newsletter {
            padding: 15px;
            background: #f8f9fa7a;
            border-radius: 8px;
        }

        .news-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #333;
        }

        .news-des {
            font-size: 13px;
            color: #666;
            margin-bottom: 15px;
        }

        .input-news {
            display: flex;
            gap: 10px;
        }

        .input-news .form-control {
            flex: 1;
            border-radius: 4px;
            border: 1px solid #ddd;
            padding: 10px 15px;
        }

        .input-news .btn {
            background: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }

        .input-news .btn:hover {
            background: #0056b3;
        }

        /* Адаптация для мобильных */
        @media (max-width: 767px) {
            .footer-blocks {
                flex-direction: column;
            }

            .footerleft,
            .footerright {
                width: 100%;
                text-align: left;
                margin-bottom: 30px;
            }

            .footerright .input-news {
                justify-content: flex-start;
            }

            .footerright .form-control {
                width: 100%;
            }
        }
    </style>
    </div>
    <div class="bottomfooter">
        <div class="container">
            <div class="row">
                <div class="bottomfooter-inner">

                    <p class="powered">Powered By <a href="https://web.telegram.org/k/#@Mikaggwp">Mik</a> NerjaRest -
                        НержаСтиль &copy; 2026</p>
                    <div id="paymentcmsblock" class="paymentcmsblock">
                        <p></p>
                        <div class="payment-block">
                            <ul>
                                <img src="{% static 'image/catalog/maestro.png' %}" alt="">
                                <img src="{% static 'image/catalog/mastercard.png' %}" alt="">
                                <img src="{% static 'image/catalog/paypal.png' %}" alt="">
                                <img src="{% static 'image/catalog/visa.png' %}" alt="">
                            </ul>
                        </div>
                        <p></p>
                    </div>


                </div>
            </div>
        </div>
    </div>

</footer>
<script type="text/javascript">

</script>


<script>< !-
            var wd_live_search = {
        selector: '#search input[name=\'search\']',
        text_no_matches: '',
        height: '50px'
    }

    $(document).ready(function () {
        var html = '';
        html += '<div class="live-search">';
        html += '	<ul>';
        html += '	</ul>';
        html += '<div class="result-text"></div>';
        html += '</div>';

        //$(wd_live_search.selector).parent().closest('div').after(html);
        $(wd_live_search.selector).after(html);

        $(wd_live_search.selector).autocomplete({
            'source': function (request, response) {
                var filter_name = $(wd_live_search.selector).val();
                var cat_id = 0;
                var module_wd_live_search_min_length = '1';
                if (filter_name.length < module_wd_live_search_min_length) {
                    $('.live-search').css('display', 'none');
                    $('body').removeClass('search-open');
                }
                else {
                    var html = '';
                    html += '<li style="text-align: center;height:10px;">';
                    html += '<img class="loading" src="image/catalog/loading.gif" />';
                    html += '</li>';
                    $('.live-search ul').html(html);
                    $('.live-search').css('display', 'block');
                    $('body').addClass('search-open');

                    $.ajax({
                        url: 'index.php?route=extension/module/wd_live_search&filter_name=' + encodeURIComponent(filter_name),
                        dataType: 'json',
                        success: function (result) {
                            var products = result.products;
                            $('.live-search ul li').remove();
                            $('.result-text').html('');
                            if (!$.isEmptyObject(products)) {
                                var show_image = 1;
                                var show_price = 1;
                                var show_description = 1;
                                $('.result-text').html('<a href="http://31.128.43.100/index.php?route=product/search&amp;search=' + filter_name + '" class="view-all-results">              View all results                   (' + result.total + ')</a>');

                                $.each(products, function (index, product) {
                                    var html = '';

                                    html += '<li>';
                                    html += '<a href="' + product.url + '" title="' + product.name + '">';
                                    if (product.image && show_image) {
                                        html += '	<div class="product-image col-sm-3 col-xs-4"><img alt="' + product.name + '" src="' + product.image + '"></div>';
                                    }
                                    html += '<div class="search-description col-sm-9 col-xs-8">';
                                    html += '	<div class="product-name">' + product.name;
                                    if (show_description) {
                                        html += '<p>' + product.extra_info + '</p>';
                                    }
                                    html += '</div>';
                                    if (show_price) {
                                        if (product.special) {
                                            html += '	<div class="product-price"><span class="price">' + product.special + '</span><span class="special">' + product.price + '</span></div>';
                                        } else {
                                            html += '	<div class="product-price"><span class="price">' + product.price + '</span></div>';
                                        }
                                    }
                                    html += '</div>';
                                    html += '<span style="clear:both"></span>';
                                    html += '</a>';
                                    html += '</li>';
                                    $('.live-search ul').append(html);
                                });
                            } else {
                                var html = '';
                                html += '<li style="text-align: center;height:10px;">';
                                html += wd_live_search.text_no_matches;
                                html += '</li>';

                                $('.live-search ul').html(html);
                            }
                            $('.live-search').css('display', 'block');
                            $('body').addClass('search-open');
                            return false;
                        }
                    });
                }
            },
            'select': function (product) {
                $(wd_live_search.selector).val(product.name);
            }
        });

        $(document).bind("mouseup touchend", function (e) {
            var container = $('.live-search');
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.hide();
            }
        });
    });
    //--></script>
</div>
{% endblock %}



